<h1>Edit a Beer</h1>

<%= form_for @beer do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

<div class="form">
  <%= f.label :brewery%>
  <%= f.text_field :brewery%>
</div>

<div class="form">
  <%= f.label :location%>
  <%= f.text_field :location%>
</div>

<div class="form">
  <%= f.label :style%>
  <%= f.text_field :style%>
</div>

<div class="form">
  <%= f.label :abv%>
  <%= f.text_field :abv%>
</div>

<div class="form">
  <%= f.label :notes%>
  <%= f.text_field :notes%>
</div>


  <%= f.submit %>
<% end %>